*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-cancelar-asesoria{
    width: 40%;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.titulo-cancelar{
    display: flex;
    color: #000000;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
}

.texto-cancelar{
    display: flex;
    font-size: 19px;
    justify-content: center;
    margin: 30px 0px;
    color: #666666;
    text-align: center;
}

#advertencia{
    width: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.botones-cancelar{
    display: flex;
    justify-content: center;
}

.btn-cancelar{
    background-color: #F8F9FA;
    border: none;
    color: #666666;
    font-weight: 400;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 25px;
    margin-right: 20px;
    border: 1px solid #D1D1D1;
}

.btn-cancelar:hover{
    background-color: #E9ECEF;
}

.btn-confirmar{
    background-color: #D62828;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 25px;
    margin-left: 20px;
}

.btn-confirmar:hover{
    background-color: #C82333;
}