*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion{
    width: 50%;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.container-titulo-detalles-reservación{
    width: 100%;
    background-color: #0D3B66;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-titulo-detalles-reservación h1{
    display: inline-block;
    color: white;
    padding: 30px;
    font-size: 30px;
    font-weight: 600;
}

.container-titulo-detalles-reservación button{
    margin-right: 10px;
    width: 60px;
    height: 60px;
    padding-bottom: 5px;
    cursor: pointer;
    border: none;
    font-size: 40px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D3B66;
}

.container-detalles-reservación-información{
    font-size: 22px;
    padding: 30px;
}

.container-detalles-reservación-información p{
    color: #8D97A8;
    font-weight: 500;
    padding: 5px 0px;
}

.cdri-informacion{
    color: #333333;
    margin-left: 20px;
    font-weight: 400;
}

.container-detalles-reservación-información-personas{
    font-size: 23px;
    margin-top: 25px;
}

.container-detalles-reservación-información-personas p{
    color: #333333;
    font-weight: 600;
}

.container-detalles-reservación-información-personas span{
    color: #8A94A6;
    font-weight: 400;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 20px;
}

.container-detalles-reservación-información-acciones{
    display: flex;
    justify-content: center;
}

.btn-cancelar{
    width: 250px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #D62828;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;
}

