/* Tipografía global */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
  }
  
  /* Títulos */
  .header h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .fecha-seleccionada h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .fecha-seleccionada span {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #005f8c;
  }
  
  /* Tarjetas */
  .card {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card.disponible {
    border-color: #00bcd4;
    background-color: #e0f7fa;
  }
  
  .card-content p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
  }
  
  /* Cuadrícula */
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    justify-items: center;
    margin-top: 1rem;
  }
  
  /* Botones */
  .action-button {
    display: flex;
    justify-content: center;
    gap: 1.5rem; /* Espaciado entre los botones */
    margin-top: 3rem;
  }
  
  .action-button button {
    background-color: #4caf50;
    color: white;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .action-button button:hover {
    background-color: #388e3c;
    transform: scale(1.05);
  }