*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contenedor-reservacion-hecha{
    width: 50%;
}

.contenedor-reservacion-hecha h1{
    font-size: 50px;
}